body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#container {
    display: flex;
}

aside {
    flex: 1;
    padding: 20px;
}

#profile {
    text-align: center;
}

#profile img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

main {
    flex: 2;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list span {
    background-color: #001F3F;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #001F3F;
    color: #fff;
}

.experience-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
    margin-top: 0;
    color: #001F3F;
}

.experience-item span {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    color: #666;
}

.experience-item p {
    margin: 0;
}

.experience-item small {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #999;
    text-align: right;
}

.intro-text {
    font-size: 1em;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
}
